{# empty Twig template #}
<div class="topbar">
    <div class="topbar-left">
        <div class="text-center">
            <a href="{{CommonText.base_url}}" class="logo">
                <i class="icon-magnet icon-c-logo"></i>
                <span>{{CommonText.plugin_name}} </span>
            </a>
        </div>
    </div>
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="">
                <div class="pull-left">
                    <button class="button-menu-mobile open-left">
                        <i class="ion-navicon"></i>
                    </button> 
                    <span class="text-white version-top">
                    ({{CommonText.plugin_version}})
                    </span>
                    <span class="clearfix"></span>
                </div>
                {#<form role="search" class="navbar-left app-search pull-left hidden-xs">
                    <input type="text" placeholder="Search..." class="form-control">
                    <a href="#"><i class="fa fa-search"></i></a>
                </form>#}


            </div>
        </div>
    </div>
</div>
