{# empty Twig template #}
<div class="row">
    <div class="col-sm-12">
        <div class="panel-aios-header">
            <div class="aios-header">
               <h4 class="m-t-0 header-title"><b>{{page_title}}</b></h4>
                <p class="text-muted font-13">{{page_subtitle}}</p>
            </div>
            <div class="aios-body">
                <div class="pull-right">
                    <ul class="">
                        <li> <a href="http://support.codesolz.com/public/create-ticket" target="_blank" class="text-muted"><i class="fa fa-support"></i> Create Support Ticket</a>
                        <li> <a href="http://support.codesolz.com/public/category-list/all-in-one-seo-bundle-pack" target="_blank" class="text-muted"><i class="fa fa-book"></i> Documentation</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>